<section class="full-width-wrapper bcmp-pgntn-section bg-light-pink">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sideheading_with_underline">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-push-4 col-sm-8 col-xs-12">
              <div class="row">
                <ol class="breadcrumb ds-breadcrumb pull-right">
                  <li class="active"><a href="#" class="active">Home</a></li>
                </ol>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-pull-8 col-sm-4 col-xs-12">
              <h2 class="side_heading">
                <span>Home Page</span>
              </h2>
            </div>
          </div>
          <div class="ds-default-line-wrapper post-hidden post-visible animated">
            <div class="ds-default-line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>